@charset "utf-8";
/* CSS Document */


@media only screen and (max-width:1199px) {
.login-field-div{ width: 250px;}
}


@media only screen and (max-width:991px) {
ul.form-field li .col-md-4{ margin-top:15px;}
.logo{ width:100%; text-align:center;}
.header-right{ padding-top:0;}
.captcha-pic{ width:100%; text-align:left; padding-top:15px;}
}

@media only screen and (max-width:680px) {
.login-field-div{ width:100%;}
ul.login-form li{ margin-left:4px;}
}


@media only screen and (max-width:640px) {
	ul.login-form li{ width:100%; margin-left:0; margin-bottom:10px;}
	.sign-btn{float:right;}
	.login-main{ margin-top:30px;}
	.login-page h1{ font-size:18px; line-height:26px;}
	.form-container{ width:80%;}
	.login-btn{ font-size:13px;}
	.form-field-label{ font-size:13px;}
	.form-container{ width:90%;}
	.select-drop { padding-top:50px;}
	ul.sign-hari li a{ font-size:14px;}
	.please-contact-left{ width:100%;}
	.footer-left{ width:100%; padding-bottom:5px; text-align:center;}
	ul.footer-right{ width:100%; text-align:center;}
	ul.footer-right li{ display:inline-block; float:none;}
}

@media only screen and (max-width:479px) {
	.login-btn{ width:100%; margin-top:10px;}
}

